<header>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/Assets/O2 Logo Color.png" alt="OfficeTwo" class="logo-image">
                <span>OfficeTwo</span>
            </a>
        </div>
        <button class="mobile-nav-toggle" aria-label="Toggle navigation menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/blog/">Resources</a></li>
            <li><a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2EV4apkqKge60YgDrj2V7n56gxwNEy2yXWefVfPuiie42bTJWl2EXr4H_3P9-g2hgYaQ3dljOU?gv=true" class="primary-button" target="_blank">Schedule a Call</a></li>
        </ul>
    </nav>
</header> 