<div class="w-full bg-light-blue pt-42 pb-20 mb-12">
    <div class="max-w-[1200px] mx-auto px-6 text-center">
      <h1 class="font-extrabold text-4xl md:text-5xl mb-6 text-dark-blue leading-tight">
        Simple, Transparent Pricing — Built to Scale With Your Team
      </h1>
      <p class="font-medium text-lg md:text-xl text-dark-blue opacity-90">
        From sourcing to retention, we handle the details—so you can focus on growth.
      </p>
    </div>
  </div>
  