---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="max-w-xl h-[672px] flex mx-auto justify-center pt-20 flex-col text-center ">
    <h1 class="text-3xl font-semibold text-dark-blue">Thanks for reaching out to OfficeTwo!</h1>
    <p class="text-lg text-gray-700 pb-2">
      We've received your message and our team will get back to you shortly.  
      <br /><br />
      At OfficeTwo, we take pride in building high-performing remote teams tailored to your business goals — and we're excited to explore how we can help you grow.
    </p>
    <a href="/" class="bg-gold p-2 rounded-lg hover:bg-dark-blue hover:text-white transition duration-100">Back to Home Page</a>
  </section>
</Layout>