<section class="flex flex-col md:flex-row">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl7DP1uUfdPpwJlu9fVTqv5kw5Kt3Y-wy8fg&s" alt="Photo of Buenos Aires">
  <form>
    <h1>Hola</h1>
  </form>
</section>