<section class="flex">
  <img src="bacontactphoto.jpg" class="w-lg h-lg" alt="Photo of Buenos Aires">
  <form>
    <h1>Contact Us</h1>
    <form>
      <input type="text"><input type="text"><input type="text"><input type="text"><input type="text">
    </form>
  </form>
</section>