<section id="contact" class="max-w-[800px] mx-auto my-16 px-6 py-16 bg-white text-center rounded-2xl shadow-lg">
    <h2 class="text-3xl md:text-4xl font-bold text-dark-blue mb-6">
      Ready to Build Your Second Office?
    </h2>
    <p class="text-lg text-[#444] opacity-90 mb-10">
      Schedule a call to learn more about how we can help
    </p>
    <a
      href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2EV4apkqKge60YgDrj2V7n56gxwNEy2yXWefVfPuiie42bTJWl2EXr4H_3P9-g2hgYaQ3dljOU?gv=true"
      class="inline-block bg-gold text-dark-blue py-4 px-10 rounded-lg font-semibold text-lg shadow hover:bg-[#c19b2f] transition"
      target="_blank">
      Schedule a Call
    </a>
  </section>