<section class="w-full text-center bg-light-blue py-16 mb-12 pt-20 md:pt-24">
    <h1 class="text-3xl md:text-4xl pt-18 font-extrabold text-dark-blue mb-4">
      Resources & Insights
    </h1>
    <p class="text-lg md:text-xl text-dark-blue opacity-90 max-w-xl mx-auto">
      Learn more about building and managing your second office in Argentina.
    </p>
</section>