---
import Layout from './Layout.astro'; // tu layout principal
const { title, excerpt } = Astro.props;
---

<Layout pageTitle={title}>
  <article class="prose mx-auto px-4 py-8 mt-20">
    <p class="text-lg italic text-gray-600">{excerpt}</p>
    <slot />
  </article>
</Layout>