---
import '../styles/global.css';
const { pageTitle = "OfficeTwo" } = Astro.props
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Clarity from '@microsoft/clarity';
const projectId = "yourProjectId"
Clarity.init(projectId);
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script>
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      twq('config','q8ozt');
    </script>
  <!-- End Twitter conversion tracking base code -->
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>